<h2>Fiat</h2>
<ul>
  <li>
    <label for="fiat-monthly"> Monthly &euro; </label>
    <input
      #fiatMonthly
      id="fiat-monthly"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> &times; </span>
    <input
      #multiplierMonth
      id="multiplier-month"
      type="number"
      (input)="handleChange()"
      [defaultValue]="1"
    />

    <span>
      {{
        euro2dollar(+fiatMonthly.value) * +multiplierMonth.value
          | currency: "USD"
      }}
    </span>
  </li>
  <li>
    <label for="fiat-additional"> Additional &euro; </label>
    <input
      #fiatAdditional
      id="fiat-additional"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ euro2dollar(+fiatAdditional.value) | currency: "USD" }} </span>
  </li>
  <li>
    <label for="fiat-Advanced"> Advanced &euro; </label>
    <input
      #fiatAdvanced
      id="fiat-advanced"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ euro2dollar(+fiatAdvanced.value) | currency: "USD" }} </span>
  </li>
  <li>
    <label for="fiat-busd"> BUSD &dollar; </label>
    <input
      #fiatBUSD
      id="fiat-busd"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ dollar2euro(+fiatBUSD.value) | currency: "EUR" }} </span>
  </li>
  <li>
    <strong> Total: </strong>
    <span>{{ totalFiat | currency: "USD" }} </span>
    <span>({{ dollar2euro(totalFiat) | currency: "EUR" }})</span>
  </li>
</ul>
