<h1>Crypto Investing</h1>

<h2>Fiat</h2>
<ul>
  <li>
    <label for="fiat-monthly"> Monthly &euro; </label>
    <input
      #fiatMonthly
      id="fiat-monthly"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> &times; </span>
    <input
      #multiplierMonth
      id="multiplier-month"
      type="number"
      (input)="handleChange()"
      [defaultValue]="1"
    />
    <span>
      {{
        euro2dollar(+fiatMonthly.value) * +multiplierMonth.value
          | currency: "USD"
      }}
    </span>
  </li>
  <li>
    <label for="fiat-additional"> Additional &euro; </label>
    <input
      #fiatAdditional
      id="fiat-additional"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ euro2dollar(+fiatAdditional.value) | currency: "USD" }} </span>
  </li>
  <li>
    <label for="fiat-Advanced"> Advanced &euro; </label>
    <input
      #fiatAdvanced
      id="fiat-advanced"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ euro2dollar(+fiatAdvanced.value) | currency: "USD" }} </span>
  </li>
  <li>
    <label for="fiat-busd"> BUSD &dollar; </label>
    <input
      #fiatBUSD
      id="fiat-busd"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ dollar2euro(+fiatBUSD.value) | currency: "EUR" }} </span>
  </li>
  <li>
    <label for="exchange-ramp"> Ramp &euro; </label>
    <input
      #exchangeRamp
      id="exchange-ramp"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> {{ euro2dollar(+exchangeRamp.value) | currency: "USD" }} </span>
  </li>
  <li>
    <strong> Budget: </strong>
    <span>{{ budget | currency: "EUR" }} </span>
    <span>({{ euro2dollar(budget) | currency: "USD" }})</span>
  </li>
  <li [ngClass]="remainingFiat > 0 ? 'gain' : 'loss'">
    <strong> Remaining: </strong>
    <span>{{ remainingFiat | currency: "EUR" }} </span>
    <span>({{ euro2dollar(remainingFiat) | currency: "USD" }})</span>
  </li>
</ul>

<h2>Crypto</h2>
<ul>
  <li>
    <label for="crypto-ron"> RON </label>
    <input
      #cryptoRon
      id="crypto-ron"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span>
      {{
        +cryptoRon.value *
          (this.exchangeRate?.data?.exchangeRate?.ron?.usd || 0)
          | currency: "USD"
      }}
    </span>
    <span>
      ({{
        dollar2euro(
          +cryptoRon.value *
            (this.exchangeRate?.data?.exchangeRate?.ron?.usd || 0)
        ) | currency: "EUR"
      }})
    </span>
  </li>
  <li>
    <label for="crypto-axs"> AXS </label>
    <input
      #cryptoAxs
      id="crypto-axs"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span>
      {{ crypto2dollar("axsbusd", +cryptoAxs.value) | currency: "USD" }}
    </span>
    <span
      >({{ crypto2euro("axsbusd", +cryptoAxs.value) | currency: "EUR" }})
    </span>
  </li>
  <li>
    <label for="crypto-eth"> ETH </label>
    <input
      #cryptoEth
      id="crypto-eth"
      type="number"
      (input)="handleChange()"
      [defaultValue]="0"
    />
    <span> &times; </span>
    <input
      #multiplierEth
      id="multiplier-eth"
      type="number"
      (input)="handleChange()"
      [defaultValue]="1"
    />
    <span>
      {{
        crypto2dollar("ethbusd", +cryptoEth.value) * +multiplierEth.value
          | currency: "USD"
      }}
    </span>
    <span
      >({{
        crypto2euro("ethbusd", +cryptoEth.value) * +multiplierEth.value
          | currency: "EUR"
      }})</span
    >
  </li>
  <li>
    <strong> Total: </strong>
    <span>{{ totalCrypto | currency: "USD" }} </span>
    <span>({{ dollar2euro(totalCrypto) | currency: "EUR" }})</span>
  </li>
</ul>

<h2>ROI</h2>
<ul>
  <li *ngIf="!gain || !loss">N/A</li>
  <li *ngIf="gain > loss" class="gain">
    <strong> Gain: </strong>
    <span>+{{ gain | currency: "USD" }}</span>
    <span> ({{ dollar2euro(gain) | currency: "EUR" }}) </span>
  </li>
  <li *ngIf="loss > gain" class="loss">
    <strong> Loss: </strong>
    <span>-{{ loss | currency: "USD" }}</span>
    <span> ({{ dollar2euro(loss) | currency: "EUR" }}) </span>
  </li>
</ul>
